body{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    background-image: linear-gradient(180deg, rgb(137, 139, 141), rgb(50, 50, 50));
    color: white;
}

.jumbotroncopy{
    background-image: url("../images/jumbotron.jpg   ");
    height: 600px;
    background-size: cover
}

.navbarcopy{
   margin-top: 45vh;
}

.page-wrapper{
    margin: 0px 5%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
    "about aboutdetails"
    "work projects"   
    "skills skillsdetails" 
    "contact contactdetails"
}

#about{
    grid-area: about;
  }

#aboutdetails{
    grid-area: aboutdetails;
  }
#work{
    grid-area: work;
  }
  
#projects{
    grid-area: projects;    
  }
#skills{
    grid-area: skills;    
}
  
#skillsdetails{
    grid-area: skillsdetails;    
  }
  
  #contact{
    grid-area: contact;
  }
  
  #contactdetails{
    grid-area: contactdetails;
  }

  .cardcopy{
    display: inline-block;
    margin: 10px;
    
  }